@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

$fa-font-path: "../webfonts" !default;
@import url("../node_modules/@fortawesome/fontawesome-free/css/brands.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css");
@import "./tokens.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/bg-mobile.svg");
  background-color: $color-background;
}

.header {
  text-align: left;
  margin: 15px;
}

.title {
  margin: 2em 0 1em 0;
  font-family: $text-heading-font-family;
}

.content {
  margin: auto;
  padding: 30px 60px;
  color: $text-default-color;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
  display: flex;
  flex-direction: column;
  text-align: center;

  .mockups {
    flex: 0 0 60%;
    div {
      padding: 0 1em;
      img {
        width: 100%;
      }
    }
  }
}

.btn {
  color: $text-default-color;
  background-color: white;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
  font-weight: 600;
}
.btn:hover {
  background-color: $color-primary-magenta;
}
.btn-primary {
  margin-top: 1em;
  color: black;
  padding: 10px 40px;
  border-radius: 35px;
}

.btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px white;  
  font-size: larger;
}
.btn-icon + .btn-icon {
  margin-left: 1em;
}

.footer {
  text-align: center;
  margin: 15px 60px;
}

@media screen and (min-width: $md-device) {
  body {
    background-image: url("../images/bg-desktop.svg");
  }
  .content {
    flex-direction: row;
    text-align: left;
    .mockups {
      text-align: center;
    }
  }
  .footer {
    text-align: right;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
