$sm-device: 375px;
$md-device: 1440px;

//## Colors

//### Primary
$color-primary-violet: hsl(257, 40%, 49%); //Violet
$color-primary-magenta: hsl(300, 69%, 71%); //Soft-Magenta


$color-title: white;
$color-text: white;

//Body
$color-background: $color-primary-violet;

//##Typography
//### Headings
$text-heading-font-family: "Poppins";
$text-heading-font-size: 32px;

//###Body
$text-default-font-family: "Open Sans";

$text-default-color: $color-text;
$text-default-font-size: 15px;

//Form
$color-btn-primary: white;


